﻿
@{
    ViewBag.Title = "Questionary";
}
@using LibraryApp.CustomHelpers

@*@helper CreateQuestionary()//low level
{
    using (Html.BeginForm("Index", "Questionary", FormMethod.Post))
    {
        <div style="margin:5px">
            @Html.TextBox("UserEmail", null, new { placeholder = "Enter your Email", style = " width:200px" })
            <br />
            @Html.TextBox("UserName", null, new { placeholder = "Enter your Name", style = " width:200px" })
            <br />
            <span>Skills:</span>
            <br />
            <div style="display:grid; grid-template-columns: 50px 50px; margin-left:40px; width: 100px">
                @Html.CheckBox("HTML", false)
                <span>HTML</span>

                @Html.CheckBox("CSS", false)
                <span>CSS</span>

                @Html.CheckBox("JS", false)
                <span>JS</span>
            </div>
            <br />
            <span>Gender:</span>
            <br />
            <ul style="margin-left:25px; width: 100px">
                <li>
                    @Html.RadioButton("Gender", "Male", true)
                    <span>Male</span>
                </li>
                <li>
                    @Html.RadioButton("Gender", "Female")
                    <span>Female</span>
                </li>
            </ul>
            <input type="submit" name="Button" value="Submit" />
        </div>
    }
}*@


@Html.Image2()
