﻿@using LibraryApp.Entities;

@model IList<Report>
@{
    ViewBag.Title = "GuestPage";

}

@using (Html.BeginForm("AddReport", "GuestPage", FormMethod.Post))
{

    <p>
        Author name:
        @Html.TextBox("AuthorName", ViewBag.Text as string)
    </p>
    <p>
        Report text:
        @Html.TextBox("ReportText", ViewBag.Text as string)
    </p>

    for (var i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(m => Model[i].AuthorName);
        @Html.HiddenFor(m => Model[i].ReportText);
        @Html.HiddenFor(m => Model[i].Date);
    }

    <input type="submit" name="Button" value="Submit" />
}

@foreach (Report report in Model)
{
    <div class="article">
        @report.AuthorName
        <br />@report.Date
        <br />@report.ReportText
    </div>
}

