﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Library.css")

</head>
<div class="header">
    <div id="logo"></div>
    <div id="site-name">Site-Name</div>
</div>

<body>
    

    </div>
    <div class="body-container">
        <div class="body-element" id="Main-body">
            @RenderBody()
        </div>
        <div class="body-element" id="Menu">
            @Html.ActionLink("Main", "Index", "MainPage")
            <br />@Html.ActionLink("Guest", "Index", "GuestPage")
            <br />@Html.ActionLink("Questionary", "Index", "Questionary")
        </div>
        <hr />
    </div>
</body>

<div class="footer">
    <p>Taras Trush | tarastaras144@gmail.com</p>
    <a href="#top">Jump to top of page</a>
</div>
</html>

